html, body, #root {
  height: 100%;
  margin: 0px;
}

.app{
    height: 100vh;
    

    .sections{
        width: 100%;
        height: calc(100vh - 70px);
        background-color: #edf2f4;
        // position: relative;
        top: 60px;
        scroll-behavior: smooth;
        scroll-snap-type: y mandatory;
        scrollbar-width: none;
        &::-webkit-scrollbar{
            display: none;
        }

        > *{
            width: 100%;
            min-height: 100vh;
            scroll-snap-align: start;

        }
    }
}